<!-- Contact Form-->
<h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>
<form action="">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <div class="medium-6 cell">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
      <div class="medium-12 cell">
        <fieldset>
          <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80"></textarea>
          <label for="message">Your message</label>
        </fieldset>
      </div>
      <div class="medium-12 cell">
        <br>
        <center>
          <button type="submit" class="button">Submit</button>
        </center>
      </div>
    </div>
</form>
