<div class="grid-container pad">
	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="medium-12 cell">
			<center><h2><strong>Upcoming Events</strong></h2></center>
		</div>
		<div id="events" class="medium-12 cell">
			<div class="grid-x grid-padding-x grid-padding-y medium-up-3 text-center">
				{{ range first 3 (where .Data.Pages.ByDate "Type" "events") }}
					<div class="cell">
						<div class="card">
							{{ if .Params.image }}<div class="center-cropped" style="background-image: url('{{.Params.image }}');"></div>{{ end }}
							<h4 class="primary"><strong>{{ .Title }}</strong></h4>
							<p><strong><small style="font-size: 90%;">{{ .Date.Format "2 Jan 2006" }}</small></strong></p>
							<a href="{{ .RelPermalink }}" class="button">More Details →</a>
						</div>
					</div>
				{{ end }}
			</div>
		</div>
	</div>
</div>
