<!-- Open Graph data -->
<meta property="fb:app_id" content="{{ .Site.Params.fbapp_id }}">
<meta property="og:locale" content="{{ .Site.Language.Lang }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ .Params.Description }}">
<meta property="og:image" content="{{ .Params.Image }}">
<meta property="og:image:alt" content="{{ .Params.imageAlt }}">

<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<link rel="manifest" href="/img/favicons/site.webmanifest">
<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#2196f3">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.google_analytics_id }}');
</script>
