<li>
  <a href="/about/about-us/">About Us</a>
  <ul class="menu vertical">
  	<li><a href="/about/clergy">Clergy</a></li>
  	<li><a href="/about/lay-leadership-staff">Lay Leadership and Staff</a></li>
  	<li><a href="/about/vestry">The Vestry</a></li>
  	<li><a href="/about/parish-hall">Parish Hall</a></li>
  	<li><a href="/about/good-shepherd-anglican-chruch">Good Shepherd Church</a></li>
  	<li><a href="/about/st-oswalds">St. Oswald's Caroni</a></li>
  	<li><a href="/about/good-shepherd-anglican-school">Good Shepherd School</a></li>
	</ul>
</li>
<li><a href="#">Worship</a></li>
<li><a href="#">Fellowship & Formation</a></li>
<li><a href="#">Mission</a></li>
<li><a href="#">Media</a></li>
<li><a href="/contact">Contact</a></li>
