<ul id="slider">
  {{ range .slider }}
		<li>
			<div class="grid-container">
	    	<div class="grid-x grid-padding-x align-middle">
	      	<div class="medium-6 cell text-center">
	        	<img src="{{.image}}" alt="{{.title}}">
	        </div>
      		<div class="medium-6 cell caption">
            <h2 class="primary">{{.title}}</h2>
            <p>{{.text}}</p>
            {{ if .link }}
            <a href="{{.link}}" class="button">Learn More >></a>
            {{ end }}
	        </div>
			  </div>
			</div>
		</li>
  {{ end }}
</ul>
