{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/good-shepherd-church-tunapuna.jpg" "title" "Photo Gallery") }}

<div id="gallery" class="grid-container pad">
  <ul class="grid-x grid-padding-x grid-padding-y medium-up-3" data-equalizer>
    {{ range (.Paginator 6).Pages.ByLastmod }}
      <div class="cell">
        <div class="card text-center" data-equalizer-watch>
          <div class="center-cropped" style="background-image: url('{{.Params.image }}');"></div>
        	<h5 class="primary">{{ .Title }}</h5>
        	<a href="{{ .RelPermalink }}" class="button">View Gallery →</a>
        </div>
      </div>
    {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
