{{ define "main" }}
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="medium-8 cell text-center">
        <h3 class="primary">{{.Title}}</h3>
        {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
        <a data-flickr-embed="true" href="https://www.flickr.com/photos/{{.Params.Gallery}}" title="{{ .Title }}">
        <img src="https://live.staticflickr.com/{{.Params.Photo}}" width="311" height="640" alt="{{ .Title }}"></a>
        <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
{{ end }}
