{{ define "main" }}
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="medium-10 cell">
        {{ partial "article-header" .Params }}

        <div class="article-post-content">
          {{ .Content }}

          {{ if .Params.group }}
            <div class="grid-container">
              <div class="grid-x grid-padding-x grid-padding-y medium-up-2">
                {{ range .Params.group }}
                  <div class="cell sermon text-center">
                    <div class="card" style="padding: 10px;">
                      {{ if .image }}<img src="{{.image}}" alt="{{.title}}">{{ end }}
                      <h6 class="primary"><strong>{{.title}}</strong></h6>
                      <p>{{.details}}</p>
                      {{ if .link }}
                      <a href="{{.link}}" class="button expanded" style="margin-top: 5px;">Learn More</a>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
