{{ define "main" }}

	{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
	
	<div class="bg-off-white grid-container pad">
		<div class="grid-x grid-padding-x grid-padding-y align-center">
			<div class="medium-8 cell">

				{{ .Content }}

				<div class="grid-x grid-padding-x grid-padding-y medium-up-2">
			    {{ range .Params.contact_entries }}
				    <div class="cell">
							<div class="card">
								<center>
									<h5 class="primary">{{ .heading }}</h5>
									<p>{{ .text }}</p>
								</center>
							</div>
						</div>
					{{ end }}
				</div>

				{{ partial "contact-form" . }}
			</div>
		</div>
	</div>

{{ end }}
