{{ define "main" }}

  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

  {{ partial "4-up" .Params.intro }}

  {{ with .Params.main }}
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="medium-8 cell">
          <center>
            <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
            <p>{{ .description }}</p>
          </center>
        </div>
      </div>
    </div>

    {{ partial "image-grid" . }}
  {{ end }}

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y medium-up-2">
      {{ range .Params.testimonials }}
        {{ partial "blockquote" . }}
      {{ end }}
    </div>
  </div>

  <img src="{{ .Params.full_image }}" alt="" class="db w-100">

  {{ partial "table" .Params.pricing }}

{{ end }}
