{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Our Blog") }}

<div class="grid-container pad">
  <ul class="grid-x grid-padding-x grid-padding-y medium-up-2" data-equalizer>
    {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
      <div class="cell">
        <div class="card" data-equalizer-watch>
        	<h3 class="primary">{{ .Title }}</h3>
        	<p><strong><small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small></strong></p>
        	<p>{{ .Description }}</p>
        	<a href="{{ .RelPermalink }}" class="button">Read more →</a>
        </div>
      </div>
    {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
