{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/good-shepherd-church-tunapuna.jpg" "title" "About Us") }}

<div id="grid" class="grid-container pad">
  <ul class="grid-x grid-padding-x grid-padding-y medium-up-3" data-equalizer>
    {{ range (.Paginator 9).Pages.ByTitle }}
      <div class="cell">
        <div class="card text-center" data-equalizer-watch>
          {{ if .Params.image }}<div class="center-cropped" style="background-image: url('{{.Params.image }}');"></div>{{ end }}
        	<h5 class="primary">{{ .Title }}</h5>
        	<a href="{{ .RelPermalink }}" class="button">Learn More →</a>
        </div>
      </div>
    {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
